* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* Esto es para que el footer se quede abajo */
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/*::::::: area de cabecera :::::::*/
.list-1,
.list-2 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    list-style: none;
    background-color: #d9fbfb;
}

.list-1:hover {
    background: #7cc4c4;
    transition: 0.5s;
    border-radius: 10px;
}

.list-2:hover {
    background: #7cc4c4;
    transition: 0.5s;
    border-radius: 10px;
}

.link {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

/*::::::: menu navegacion :::::::*/
.logo{
    font-size: 35px;
    font-weight: bold;
}

.cabeceramenu {
    background-color: #d9fbfb;
    padding: 0%;
}

.nav-menu {
    margin-left: 20px;
}

.nav-menu:hover {
    background: #7cc4c4;
    transition: 0.5s;
    border-radius: 10px;
}

.btn-busq{
    border: none;
}

.btn-busq:hover {
    background: #7cc4c4;
    transition: 0.5s;
    border-radius: 10px;
}

.icon-btn {
    width: 100%;
    padding: 5px;
    color: rgb(30, 27, 202);
}

/*::::::: menu bars :::::::*/
.icono {
    width: 100%;
    height: 100%;
    color: rgb(27, 161, 202);
}

/*:::::: Pagina Principal - Carrusel ::::::*/
.contenedor-carrusel {
    height: 800px;
}

.carousel-inner,
.carousel-item {
    animation: cambio 3s infinite alternate;
    animation-timing-function: linear;
}

.carousel-item img {
    width: 100%;
    height: 800px;
}

.caja-text {
    background-color: #ebf1f7;
    margin-top: 15px;
    margin-bottom: 15px;
}

.titulo {
    box-shadow: 12px 14px 15px skyblue;
    transition: all 0.3s ease;
    border-style: solid;
    border-color: aliceblue;
}

.titulo:hover {
    transform: scale(0.9);
    border-radius: 20px;
}

.titulo,
.col {
    text-align: center;
}

.titulo strong {
    color: blue;
}

/*::::::: Pagina Productos :::::::*/
.card {
    margin: 20px;
    box-shadow: 12px 14px 15px skyblue;
    transition: all 0.3s ease;
    border-style: solid;
    border-color: aliceblue;
}

.card:hover {
    transform: scale(0.9);
    border-radius: 20px;
}

/*::::::: Pagina Quienes Somos :::::::*/
.cont-parf {
    background-color: #ebf1f7;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.contenedor-text {
    margin-left: 20px;
}

.titulo-QS {
    font-size: 50px;
    color: blue;
    text-align: left;
}

.subtitulo {
    font-size: 30px;
    color: blue;
    text-align: left;
}

.parrafo-princ {
    text-align: justify;
}

.cont-img img {
    border-radius: 20px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*::::::: Pagina Contacto :::::::*/
.seccion-contac {
    background-color: #ebf1f7;
}

.caja-formulario {
    width: 500px;
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 50px;
    box-shadow: 12px 14px 15px skyblue;
    transition: all 0.3s ease;
    border-style: solid;
    border-color: aliceblue;
}

/*::::::: area de pie de pagina :::::::*/
.footer {
    grid-area: footer;
    width: 100%;
    background-color: rgb(4, 11, 32);
    margin-top: auto;
}

.footer .grupo_1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 30px 0;
}

/*::::::: Logo :::::::*/
.footer .grupo_1 img {
    width: 80%;
    border-radius: 90px;
}

/*::::::: Grupo 1 :::::::*/
.footer .grupo_1 .nav_footer {
    list-style: none;
    padding-bottom: 10px;
}

.footer .grupo_1 .link_footer {
    text-decoration: none;
    color: white;
    margin-left: 50px;
    text-transform: uppercase;
}

.footer .grupo_1 .box h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;

}

.footer .grupo_1 .box p {
    color: white;
    margin-bottom: 8px;
}

/*::::::: Grupo 2 :::::::*/
.footer .grupo_2 {
    color: white;
    text-align: center;
    padding: 15px 10px;
}

.footer .grupo_2 small {
    color: white;
    font-size: 15px;
}

.footer .grupo_1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.footer .grupo_1 .red-social a:hover {
    color: aqua;
}

/* ::::::: pagina de registro :::::::*/

/* ARCHIVO ESTILO.SCSS -O ESTILO.CSS */

/*::::::: disposito tablet :::::::*/
@media screen and (max-width: 768px) {

    /*::::::: area de cabecera :::::::*/
    .nav-icon {
        min-width: 50%;
        padding-left: 15px;
        color: rgb(27, 161, 202);
    }

    .cabeceramenu {
        background-color: #d9fbfb;
    }
    

    /*::::::: area de pagina Principal :::::::*/

    /*::::::: area de pie de pagina :::::::*/
    .footer .grupo_1 {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .footer .grupo_1 img {
        width: 50%;
        margin-left: 30%;
        border-radius: 90px;
    }

    .footer .grupo_1 .nav_footer {
        width: max-content;
        margin-top: 10px;
        margin-left: 10%;
    }

    .footer .grupo_1 .box h2 {
        margin-left: 30%;
    }

    .footer .grupo_1 .box p {
        margin-left: 30%;
    }

    .footer .grupo_1 .box .red-social {
        margin-left: 10%;
        margin-top: 20px;
    }

}

/*::::::: disposito mobile :::::::*/
@media screen and (max-width: 400px) {

    /*::::::: area de cabecera :::::::*/
    .nav-icon {
        min-width: 50%;
        padding-left: 15px;
        color: rgb(27, 161, 202);
    }

    .cabeceramenu {
        background-color: #d9fbfb;
    }
    

    /*::::::: area de pagina Principal :::::::*/

    /*::::::: area de pie de pagina :::::::*/
    .footer .grupo_1 {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .footer .grupo_1 img {
        width: 50%;
        border-radius: 90px;
    }

    .footer .grupo_1 .nav_footer {
        width: max-content;
        margin-left: 10%;
    }

    .footer .grupo_1 .box h2 {
        margin-left: 25%;
    }

    .footer .grupo_1 .box p {
        margin-left: 25%;
    }

    .footer .grupo_1 .box .red-social {
        margin-left: 10%;
    }

}