// Variables colores
$color-title-reg: #1a2537;
$color-hover: #0c0831;
$color-pag-cabec: cadetblue;
$color-icon: white;
$colorfa: blue;
$colorinstagram: rgb(214, 49, 98);
$coloryoutube: red;
$colortwitter: rgb(111, 111, 187);